<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Code</title>-->
<!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->
<!--    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/default.min.css">-->
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>-->
<!--    <script>hljs.initHighlightingOnLoad();</script>-->
<!--</head>-->
<!--<body>-->
<!--<pre><code><span id="load_date" th:text="${date}"></span></code></pre>-->

<!--<div th:if="${views > 0}">-->
<!--    <span id="views_restriction" th:text="${views} more views allowed"></span>-->
<!--</div>-->
<!--<div th:if="${time > 0}">-->
<!--    <span id="time_restriction" th:text="The code will be available for ${time} seconds"></span>-->
<!--</div>-->

<!--<pre id="code_snippet" th:text="${code}"><code><pre></pre></code></pre>-->
<!--</body>-->
<!--</html>-->